<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Amazona</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a  class="brand" href="index.html">amazona</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center" >
                <div class="card">
                    <a href="product.html">
                        <!-- image should be 680px by 830px -->
                        <img src="./images/p1.jpg(680 x 830)" alt="product">
                    </a>
                </div>
            </div>
        </main>
        <footer class="row center">
            All right reserved
        </footer>
    </div>
</body>
</html>